* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--main-color: #24325fff;
	--font-color: #fff;
	--second-color: #1fac4e;
	--bg-color: #fff;
	--second-bg: #1fac4e;
}

body {
	background-color: var(--bg-color);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
